*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(24, 24, 71);
}
.container{
    width: 80%;
    margin: auto;
    
    display: flex;
    justify-content: space-between;
    
    gap: 10%;
    
    

}
.intro{
    flex-basis: 35%;
   
    padding-top: 10%;
   
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10%;
    height: 100vh;
    position: sticky;
    top: 0;
    
    
}
.icons{
    display: flex;
    gap: 10px;
    

}

.about{
    padding-top: 10%;
    flex-basis: 55%;
    overflow: scroll;
    
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
}
ul li {
    list-style-type: none;
    padding: 10px;

}
ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    
}
.experience{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.lead{
    display: flex;
    justify-content: space-between;
   
    padding: 10px;
    

}
.lead:hover{
    border-radius: 10px;
    background-color:rgb(44, 44, 71) ;
}
.lead:hover .first h3{
    color: rgb(88, 193, 160);

}
.present{
    flex-basis: 30%;
}
.leadEngineer{
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.decription{
    font-size: 1.1rem;
}
.skill{
    display: flex;
    flex-wrap: wrap;
    gap: 9px;
}
.skill button{
    padding: 5px 10px;
    border-radius:10px;
    border:none;
    font-weight: 600;
    color: rgb(88, 193, 160);
    background-color: rgb(202, 230, 221);
}

.photo img{
    width:100%;
    height:50px;
    object-fit: cover;
}
.project{
    display: flex;
    justify-content: space-between;
}
.photo{
    flex-basis: 25%;
}
.portfolio{
    flex-basis: 70%;
}
.project{
    
    padding: 10px;

}
.portfolio{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.project:hover{
    border-radius: 10px;
    background-color:rgb(44, 44, 71) ;
}
.project:hover .portfolio h3{
    color: rgb(88, 193, 160);

}